@import "tailwindcss";

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  background-color: #f8fafc;
}

body,
button,
input,
textarea,
select {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
}

input, select, textarea {
  font-size: 14px;
}